*{ margin: 0; padding: 0; box-sizing: border-box; }
body {
height: 100vh;
display: flex;
justify-content: center;
align-items: center;


font-family: sans-serif;
background-color: #292c35;
}

/* Book */
.book {
position: relative;
width: 500px;
height: 780px;
transition: transform 0.5s;

}

.paper {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
perspective: 1500px;

}

.front,
.back {
background-color: white;
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
transform-origin: left;
transition: transform 0.5s;
}

.front {


z-index: 1;
backface-visibility: hidden;
border-left: 3px solid #292c35;
padding: 10px;
}

.back {


z-index: 0;
padding: 10px;
}

.front-content,
.back-content {
overflow: auto;


width: 100%;
height: 100%;

justify-content: left;
align-items: stretch;
}

.back-content {
transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
border: none;
background-color: transparent;
cursor: pointer;
margin: 10px;
transition: transform 0.5s;
}

button:focus {
outline: none;
}

button:hover i {
color: #636363;
}

i {
font-size: 50px;
color: gray;
}

/* Paper stack order */
#p1 {
z-index: 7;
}

#p2 {
z-index: 6;
}

#p3 {
z-index: 5;
}

#p4 {
z-index: 4;
}

#p5 {
z-index: 3;
}

#p6 {
z-index: 2;
}

#p7{
z-index:1;
}
#output{
display: flex;

}

/* Стили для задней стороны */
.section-back {
display: grid;
justify-items: center;
box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
background-color: #f0f0f0;

border: 1px solid #ccc;
margin: 10px;

}

.section-back h1 {
color: #333;
}

.section-back img {
width: 200px;
height: 340px;
}

/* Стили для передней стороны */
.section-front {
display: grid;
justify-items: center;
box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
background-color: #f0f0f0;

border: 1px solid #ccc;
margin: 10px;

}

.section-front h1 {
color: #333;
}

.section-front img {
width: 200px;
height: 340px;
}

.front-content,
.back-content {

/* Стили для полосы прокрутки WebKit (Chrome, Safari) */
&::-webkit-scrollbar {
width: 10px;
}

&::-webkit-scrollbar-track {
-webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
background-color: #f9f9fd;
border-radius: 10px;
}

&::-webkit-scrollbar-thumb {
border-radius: 10px;
background: #FFDFC2;
}
}

.section-back h1,
.section-front h1,
.section-back p,
.section-front p,
.section-back img,
.section-front img {
margin: 10px 0;
}

.section-back p,
.section-front p{

padding-left: 10px;
padding-right: 10px;

}

.section-back h1,
.section-front h1,
.section-back p,
.section-front p{
text-align: center;
}

.sub_but{

display: flex;
justify-content: center;
align-items: center;


}

.but_sub{
transform-style: preserve-3d;
}


.but_sub:after{

    top: -100%;
	left: 0;

	position: absolute;
	background: #FFDFC2;
	border-radius: 5px;
	content: 'Submit';
	transform-origin: left bottom;
	transform: rotateX(90deg);


}

.but_sub:hover {

	transform-origin: center bottom;
	transform: rotateX(-90deg) translateY(100%);
}

#rec1 {
text-align: center;
}

#rec2 {
text-align: center;
}

.welcome{


      display: flex;
    flex-direction: column;
        text-align: center;
    justify-content: center;
}